<header>
    <div class="header">
        <div class="header_links">
            <ul class="header__links-list">
                <li class="header__links-item">
                    <a class="header__links-ref"
                       routerLink="{{pageLink.SIGN_IN}}"
                       routerLinkActive="active">Sign In
                    </a>
                </li>
                <li class="header__links-item">
                    <a class="header__links-ref"
                       routerLink="{{pageLink.USER_DATA}}"
                       routerLinkActive="active">User Data
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
