@import '../../../../assets/settings/colors';

.header {
  max-width: 100%;
  background-color: $midnightBlack;
  box-shadow: 5px 0 5px $black;
  &__links {
    &-list {
      padding: 20px 40px;
    }
    &-item {
      display: inline;
      padding-right: 20px;
    }
    &-ref {
      text-decoration: none;
      color: $white;
      font-size: 18px;
      font-weight: 500;
      transition-duration: .4s;
      &:hover {
        color: $orange;
      }
    }
  }
}
