<app-header></app-header>
<!-- todo: router.navigate(['user-data']) - user-data нужно вынести в константу спросить сашу что я от тебя хочу! -->
<f-sign-in [userData]="userDataService.userData"
           (addingUser)="router.navigate([pageLink.USER_DATA])"></f-sign-in>
