@import '../../../../../assets/settings/colors';

.t-checkout {
  max-width: 100%;
  margin: 20px auto;
  padding-top: 100px;
  text-align: center;
  ._table {
    margin: 0 auto;
    width: 80%;
  }
  &__header {
    text-align: center;
    font-size: 17px;
    padding: 17px 0 12px;
    color: $white;
    background-color: $midnightBlack;
  }
  &__data {
    font-size: 14px;
    padding: 15px 0 12px;
    color: $midnightBlack;
  }
}
