<div class="t-checkout">
  <table [dataSource]="dataSource"
         class="mat-elevation-z8 _table"
         mat-table>
    <ng-container matColumnDef="accountType">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>Account Type</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.accountType}}</td>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>First Name</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>Last Name</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="country">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>Country</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element"> {{element.country}} </td>
    </ng-container>
    <ng-container matColumnDef="streetAddress">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>Street Address</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.streetAddress}}</td>
    </ng-container>
    <ng-container matColumnDef="streetAddress2">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>Street Address 2</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.streetAddress2}}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>City</th>
      <td mat-cell
          *matCellDef="let element">{{element.city}}</td>
    </ng-container>
    <ng-container matColumnDef="state">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>State</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.state}}</td>
    </ng-container>
    <ng-container matColumnDef="zip">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>Zip</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.zip}}</td>
    </ng-container>
    <ng-container matColumnDef="phone">
      <th class="t-checkout__header"
          mat-header-cell
          *matHeaderCellDef>Phone</th>
      <td class="t-checkout__data"
          mat-cell
          *matCellDef="let element">{{element.phone}}</td>
    </ng-container>
    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
