@import '../../../../../assets/settings/colors';

.f-sign-in {
  width: 450px;
  margin: 100px auto;
  padding: 30px;
  background-color: $lightGrey;
  border-radius: 5px;
  font-size: 14px;
  &__content {
    position: relative;
  }
  &__list {
    ._required {
      display: block;
      margin-bottom: 20px;
      &:before {
        position: absolute;
        left: 4px;
        content: "*";
        color: $darkRed;
      }
    }
    &-item {
      display: flex;
    }
  }
  &__title {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  &__label {
    display: flex;
    position: relative;
    &-radio {
      display: flex;
      cursor: pointer;
    }
  }
  &__input {
    padding: 5px 10px 5px;
    margin-bottom: 15px;
    width: 200px;
    &-required {
      position: relative;
      font-weight: 600;
      width: 150px;
      cursor: pointer;
      &:after {
        position: absolute;
        content: "*";
        color: $darkRed;
        text-align: center;
      }
    }
    &-title {
      position: relative;
      font-weight: 600;
      width: 150px;
      cursor: pointer;
        // todo: выставь положение элемента(по цетру)
    }
      &-small {
        padding: 5px 10px 5px;
        margin-bottom: 25px;
        width: 50px;
      }
      &-selection {
        width: 200px;
        margin-bottom: 10px;
        cursor: pointer;
      }
      &-radio-1 {
        width: 20px;
        margin-bottom: 10px;
        cursor: pointer;
      }
      &-radio-2 {
        width: 20px;
        cursor: pointer;
      }
      &-desc {
        position: absolute;
        left: 40%;
        top: -14px;
        color: $darkGrey;
        font-size: 11px;
        font-weight: 100;
      }
      &-message {
        position: relative;
        left: 3%;
        font-size: 13px;
        &-error {
          position: fixed;
          padding: 7px 10px;
          background-color: $darkRed;
          color: $white;
        }
      }
    }
    &__footer {
      text-align: center;
    }
    // todo add cursor pointer for button
    &__submit {
      padding: 10px 0;
      width: 150px;
      border: none;
      border-radius: 3px;
      text-align: center;
      background-color: $midnightBlack;
      color: $white;
      transition: background-color 0.7s ease-out;
      &:hover {
        background-color: $darkGrey;
        cursor: pointer;
      }
    }
  }
