<form class="f-sign-in"
      #userForm="ngForm"
      (ngSubmit)="addingUser.emit()">
  <div class="f-sign-in__content">
    <h1 class="f-sign-in__title">Delivery information</h1>
      <ul class="f-sign-in__list">
        <span class="f-sign-in__list _required">( ) Required fields</span>
        <li class="f-sign-in__list-item">
            <label class="f-sign-in__label-radio">
              <span class="f-sign-in__input-title">Account Type</span>
                <input class="f-sign-in__input-radio-1"
                       type="radio"
                       name="accountType"
                       value="Personal"
                       [(ngModel)]="userData.accountType">Personal Account
            </label>
            <label class="f-sign-in__label-radio">
              <input class="f-sign-in__input-radio-2"
                     type="radio"
                     name="accountType"
                     value="Business"
                     [(ngModel)]="userData.accountType">Business Account
            </label>
        </li>
        <li class="f-sign-in__list-item">
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-required">First Name</span>
                <input class="f-sign-in__input"
                       type="text"
                       name="firstName"
                       minlength="4"
                       maxlength="30"
                       #firstName="ngModel"
                       required
                       [(ngModel)]="userData.firstName">
            </label>
          <span *ngIf="firstName.invalid && firstName.dirty"
                 class="f-sign-in__input-message">
            <span *ngIf="firstName.errors.required"
                  class="f-sign-in__input-message-error">
                Name is required
            </span>
            <span *ngIf="firstName.errors.minlength"
                  class="f-sign-in__input-message-error">
                Name must be more than 4 characters
            </span>
          </span>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-required">Last Name</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
              <!-- todo: зачем с большой буквы #LastName-->
                <input class="f-sign-in__input"
                       type="text"
                       name="lastName"
                       minlength="4"
                       maxlength="30"
                       #lastName="ngModel"
                       required
                       [(ngModel)]="userData.lastName">
            </label>
          <span *ngIf="lastName.invalid && lastName.dirty"
                class="f-sign-in__input-message">
            <span *ngIf="lastName.errors.required"
                  class="f-sign-in__input-message-error">
                Last Name is required
            </span>
            <span *ngIf="lastName.errors.minlength"
                  class="f-sign-in__input-message-error">
                Last Name must be more than 4 characters
            </span>
          </span>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-title">Country/Region</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
                <select class="f-sign-in__input-selection"
                        name="country"
                        id="country"
                        [(ngModel)]="userData.country">
                  <option>Select country</option>
                  <option value="UnitedStates">United States</option>
                  <option value="Belarus">Belarus</option>
                  <option value="Russia">Russia</option>
                </select>
            </label>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-required">Street Address</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
              <!-- todo: зачем с большой буквы #StreetAddress-->
                <input class="f-sign-in__input"
                       type="text"
                       name="streetAddress"
                       minlength="4"
                       maxlength="30"
                       #streetAddress="ngModel"
                       required
                       [(ngModel)]="userData.streetAddress">
            </label>
          <span *ngIf="streetAddress.invalid && streetAddress.dirty"
                class="f-sign-in__input-message">
            <span *ngIf="streetAddress.errors.required"
                  class="f-sign-in__input-message-error">
                Street Address is required
            </span>
            <span *ngIf="streetAddress.errors.minlength"
                  class="f-sign-in__input-message-error">
                Street Address must be more than 4 characters
            </span>
          </span>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-required">Street Address 2</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
              <!-- todo: зачем с большой буквы #StreetAddress2-->
                <input class="f-sign-in__input"
                       type="text"
                       name="streetAddress2"
                       minlength="4"
                       maxlength="30"
                       #streetAddress2="ngModel"
                       required
                       [(ngModel)]="userData.streetAddress2">
            </label>
          <span *ngIf="streetAddress2.invalid && streetAddress2.dirty"
                class="f-sign-in__input-message">
            <span *ngIf="streetAddress2.errors.required"
                  class="f-sign-in__input-message-error">
                Street Address 2 is required
            </span>
            <span *ngIf="streetAddress2.errors.minlength"
                  class="f-sign-in__input-message-error">
                Street Address 2 must be more than 4 characters
            </span>
          </span>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-required">City</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
              <!-- todo: зачем с большой буквы #City -->
                <input class="f-sign-in__input"
                       type="text"
                       name="city"
                       minlength="4"
                       maxlength="30"
                       #city="ngModel"
                       required
                       [(ngModel)]="userData.city">
            </label>
          <span *ngIf="city.invalid && city.dirty"
                class="f-sign-in__input-message">
            <span *ngIf="city.errors.required"
                  class="f-sign-in__input-message-error">
                City is required
            </span>
            <span *ngIf="city.errors.minlength"
                  class="f-sign-in__input-message-error">
                City must be more than 4 characters
            </span>
          </span>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-title">State/Province</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
                <select class="f-sign-in__input-selection"
                        name="State"
                        id="State"
                        [(ngModel)]="userData.state">
                  <option>Select State or Province</option>
                  <option value="Minsk">Minsk</option>
                  <option value="Moscow">Moscow</option>
                  <option value="Washington">Washington</option>
                </select>
            </label>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-required">ZIP/Postal Code</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
              <!-- todo: зачем с большой буквы #Zip -->
                <input class="f-sign-in__input-small"
                       type="text"
                       name="zip"
                       minlength="6"
                       maxlength="10"
                       #zip="ngModel"
                       required
                       [(ngModel)]="userData.zip">
            </label>
          <span *ngIf="zip.invalid && zip.dirty"
                class="f-sign-in__input-message">
            <span *ngIf="zip.errors.required"
                  class="f-sign-in__input-message-error">
                Zip Code is required
            </span>
            <span *ngIf="zip.errors.minlength"
                  class="f-sign-in__input-message-error">
                Zip Code must be more than 6 characters
            </span>
          </span>
        </li>
        <li class="f-sign-in__list-item">
          <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
          <!-- todo: зачем тут p + div -->
            <label class="f-sign-in__label">
              <span class="f-sign-in__input-required">Phone Number</span>
              <!-- todo: название класса мягко говоря хреновое и похоже на бутстрап!!! -->
                <span class="f-sign-in__input-desc">Only used for questions related to your order.</span>
                <!-- todo: зачем с большой буквы #Phone -->
                  <input class="f-sign-in__input"
                         type="text"
                         name="phone"
                         minlength="4"
                         maxlength="20"
                         #phone="ngModel"
                         required
                         [(ngModel)]="userData.phone">
              </label>
          <span *ngIf="phone.invalid && phone.dirty"
                class="f-sign-in__input-message">
            <span *ngIf="phone.errors.required"
                  class="f-sign-in__input-message-error">
                Phone is required
            </span>
            <span *ngIf="phone.errors.minlength"
                  class="f-sign-in__input-message-error">
                Phone must be more than 4 characters
            </span>
          </span>
        </li>
      </ul>
    <div class="f-sign-in__footer">
        <button [disabled]="userForm.form.invalid"
                class="f-sign-in__submit"
                type="submit">Submit
        </button>
    </div>
  </div>
</form>
