@import '../../../../../assets/settings/colors';
.alert-popup {
  &__title{
    display: block;
    text-align: center;
    color: $darkRed;
    border-bottom: solid 1px $darkRed;
    margin-bottom: 20px;
  }
  &__description {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  &__error {
    display: block;
    font-size: 14px;
    text-align: center;
  }
  &__close-button {
    width: 30%;
    margin: 0 auto;
  }
}

