<div mat-dialog-content>
  <span class="alert-popup__title">Failed to Post data</span>
  <span class="alert-popup__description">Ошибка сервера, пожалуйста обратитесь в поддержку</span>
  <span class="alert-popup__error">{{message}}</span>
</div>
<div mat-dialog-actions>
  <button class="alert-popup__close-button"
          type="button"
          mat-raised-button
          (click)="closeClick()">Close</button>
</div>
