<app-header></app-header>
<!-- todo: большая буква! -->
<t-checkout [title]="title"
            [displayedColumns]="displayedColumns"
            [dataSource]="dataSource"
            (alertDialog)="postRequestError()"
            (postDataRequest)="postRequest()"></t-checkout>
